celery[redis]==5.4.0
aiohttp==3.11.16
aiolimiter==1.2.1
aiofiles==24.1.0
aiobotocore==2.22.0
types-aiobotocore[s3]==2.22.0
redis==5.2.1
fastapi==0.115.7
uvicorn==0.34.0
pydantic==2.10.6
flower==2.0.1
PyYAML==6.0.2
yt-dlp==2025.3.31

git+https://github.com/rwiv/pyutils.git@v0.2.4
