services:
  vtask-server:
    image: vtask:latest
    container_name: vtask-server
    working_dir: /app
    entrypoint: python -m vtask server
    environment:
      PY_ENV: prod
      SERVER_PORT: "${SERVER_PORT}"

      REDIS_HOST: "${REDIS_HOST}"
      REDIS_PORT: "${REDIS_PORT}"
      REDIS_PASSWORD: "${REDIS_PASSWORD}"

      AMQP_HOST: "${AMQP_HOST}"
      AMQP_PORT: "${AMQP_PORT}"
      AMQP_USERNAME: "${AMQP_USERNAME}"
      AMQP_PASSWORD: "${AMQP_PASSWORD}"
      CELERY_WORKER_CONCURRENCY: "${CELERY_WORKER_CONCURRENCY}"
      CELERY_VISIBILITY_TIMEOUT_SEC: "${CELERY_VISIBILITY_TIMEOUT_SEC}"
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    volumes:
      - ../vtask:/app/vtask
  vtask-flower:
    image: vtask:latest
    container_name: vtask-flower
    working_dir: /app
    entrypoint: celery -A vtask.celery.celery_app.app flower
    environment:
      FLOWER_UNAUTHENTICATED_API: "${FLOWER_UNAUTHENTICATED_API}"

      SERVER_PORT: "${SERVER_PORT}"
      REDIS_HOST: "${REDIS_HOST}"
      REDIS_PORT: "${REDIS_PORT}"
      REDIS_PASSWORD: "${REDIS_PASSWORD}"
      AMQP_HOST: "${AMQP_HOST}"
      AMQP_PORT: "${AMQP_PORT}"
      AMQP_USERNAME: "${AMQP_USERNAME}"
      AMQP_PASSWORD: "${AMQP_PASSWORD}"
      CELERY_VISIBILITY_TIMEOUT_SEC: "${CELERY_VISIBILITY_TIMEOUT_SEC}"
    ports:
      - "${FLOWER_PORT}:5555"
    volumes:
      - ../vtask:/app/vtask
