services:
  vodify-default:
    image: vodify:latest
    container_name: vodify-default
    working_dir: /app
    entrypoint: .venv/bin/python3 -m vodify worker
    restart: always
    environment:
      PY_ENV: prod
      WORKER_NAME: default
      WORKER_QUEUES: celery:vodify:default
      TMP_DIR_PATH: /app/tmp

      OUT_FS_NAME: "${OUT_FS_NAME}"
      FS_CONFIG_PATH: /mnt/app_conf/fs_conf.yaml
      NETWORK_MBIT: "${NETWORK_MBIT}"
      NETWORK_BUF_SIZE: "${NETWORK_BUF_SIZE}"
      NETWORK_RETRY_LIMIT: "${NETWORK_RETRY_LIMIT}"
      MIN_READ_TIMEOUT_SEC: "${MIN_READ_TIMEOUT_SEC}"
      READ_TIMEOUT_THRESHOLD: "${READ_TIMEOUT_THRESHOLD}"

      STDL_BASE_DIR_PATH: /mnt/stdl
      STDL_IS_ARCHIVE: "${STDL_IS_ARCHIVE}"
      STDL_VIDEO_SIZE_LIMIT_GB: "${STDL_VIDEO_SIZE_LIMIT_GB}"
      STDL_DELETE_BATCH_SIZE: "${STDL_DELETE_BATCH_SIZE}"

      REDIS_HOST: "${REDIS_HOST}"
      REDIS_PORT: "${REDIS_PORT}"
      REDIS_PASSWORD: "${REDIS_PASSWORD}"

      UNTF_ENDPOINT: "${UNTF_ENDPOINT}"
      UNTF_API_KEY: "${UNTF_API_KEY}"
      UNTF_TOPIC: "${UNTF_TOPIC}"

      PROXY_ENABLED: "${PROXY_ENABLED}"
      PROXY_HOST: "${PROXY_HOST}"
      PROXY_PORT: "${PROXY_PORT}"
      PROXY_USERNAME: "${PROXY_USERNAME}"
      PROXY_PASSWORD: "${PROXY_PASSWORD}"
      PROXY_RDNS: "${PROXY_RDNS}"

      CELERY_WORKER_CONCURRENCY: "${CELERY_IO_WORKER_CONCURRENCY}"
      CELERY_VISIBILITY_TIMEOUT_SEC: "${CELERY_VISIBILITY_TIMEOUT_SEC}"
    volumes:
      - ../vodify:/app/vodify
      - "${TMP_DIR_PATH}:/app/tmp"
      - "${STDL_BASE_DIR_PATH}:/mnt/stdl"
      - "${FS_CONFIG_PATH}:/mnt/app_conf/fs_conf.yaml"
  vodify-io:
    image: vodify:latest
    container_name: vodify-io
    working_dir: /app
    entrypoint: .venv/bin/python3 -m vodify worker
    restart: always
    environment:
      PY_ENV: dev
      WORKER_NAME: io
      WORKER_QUEUES: celery:vodify:io:lfs,celery:vodify:io:net
      TMP_DIR_PATH: "/app/tmp"

      OUT_FS_NAME: "${OUT_FS_NAME}"
      FS_CONFIG_PATH: /mnt/app_conf/fs_conf.yaml
      NETWORK_MBIT: "${NETWORK_MBIT}"
      NETWORK_BUF_SIZE: "${NETWORK_BUF_SIZE}"
      NETWORK_RETRY_LIMIT: "${NETWORK_RETRY_LIMIT}"
      MIN_READ_TIMEOUT_SEC: "${MIN_READ_TIMEOUT_SEC}"
      READ_TIMEOUT_THRESHOLD: "${READ_TIMEOUT_THRESHOLD}"

      STDL_BASE_DIR_PATH: /mnt/stdl
      STDL_IS_ARCHIVE: "${STDL_IS_ARCHIVE}"
      STDL_VIDEO_SIZE_LIMIT_GB: "${STDL_VIDEO_SIZE_LIMIT_GB}"
      STDL_DELETE_BATCH_SIZE: "${STDL_DELETE_BATCH_SIZE}"

      REDIS_HOST: "${REDIS_HOST}"
      REDIS_PORT: "${REDIS_PORT}"
      REDIS_PASSWORD: "${REDIS_PASSWORD}"

      UNTF_ENDPOINT: "${UNTF_ENDPOINT}"
      UNTF_API_KEY: "${UNTF_API_KEY}"
      UNTF_TOPIC: "${UNTF_TOPIC}"

      PROXY_ENABLED: "${PROXY_ENABLED}"
      PROXY_HOST: "${PROXY_HOST}"
      PROXY_PORT: "${PROXY_PORT}"
      PROXY_USERNAME: "${PROXY_USERNAME}"
      PROXY_PASSWORD: "${PROXY_PASSWORD}"
      PROXY_RDNS: "${PROXY_RDNS}"

      CELERY_WORKER_CONCURRENCY: "${CELERY_IO_WORKER_CONCURRENCY}"
      CELERY_VISIBILITY_TIMEOUT_SEC: "${CELERY_VISIBILITY_TIMEOUT_SEC}"
    volumes:
      - ../vodify:/app/vodify
      - "${TMP_DIR_PATH}:/app/tmp"
      - "${STDL_BASE_DIR_PATH}:/mnt/stdl"
      - "${FS_CONFIG_PATH}:/mnt/app_conf/fs_conf.yaml"
