services:
  vodify-server:
    image: vodify:latest
    container_name: vodify-server
    working_dir: /app
    entrypoint: .venv/bin/python3 -m vodify server
    environment:
      PY_ENV: prod
      SERVER_PORT: "${SERVER_PORT}"

      REDIS_HOST: "${REDIS_HOST}"
      REDIS_PORT: "${REDIS_PORT}"
      REDIS_PASSWORD: "${REDIS_PASSWORD}"

      SQS_ACCESS_KEY: "${SQS_ACCESS_KEY}"
      SQS_SECRET_KEY: "${SQS_SECRET_KEY}"
      SQS_REGION_NAME: "${SQS_REGION_NAME}"
      SQS_QUEUE_URL: "${SQS_QUEUE_URL}"
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    volumes:
      - ../vodify:/app/vodify
  vodify-flower:
    image: vodify:latest
    container_name: vodify-flower
    working_dir: /app
    entrypoint: .venv/bin/celery -A vodify.celery.celery_app.app flower
    environment:
      FLOWER_UNAUTHENTICATED_API: "${FLOWER_UNAUTHENTICATED_API}"

      REDIS_HOST: "${REDIS_HOST}"
      REDIS_PORT: "${REDIS_PORT}"
      REDIS_PASSWORD: "${REDIS_PASSWORD}"
    ports:
      - "${FLOWER_PORT}:5555"
    volumes:
      - ../vodify:/app/vodify
