services:
  vtask-server:
    image: vtask:latest
    container_name: vtask-server
    working_dir: /app
    entrypoint: python -m vtask server
    environment:
      PY_ENV: prod
      SERVER_PORT: "${SERVER_PORT}"

      REDIS_HOST: "${REDIS_HOST}"
      REDIS_PORT: "${REDIS_PORT}"
      REDIS_PASSWORD: "${REDIS_PASSWORD}"

      SQS_ACCESS_KEY: "${SQS_ACCESS_KEY}"
      SQS_SECRET_KEY: "${SQS_SECRET_KEY}"
      SQS_REGION_NAME: "${SQS_REGION_NAME}"
      SQS_QUEUE_URL: "${SQS_QUEUE_URL}"
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    volumes:
      - ../vtask:/app/vtask
  vtask-flower:
    image: vtask:latest
    container_name: vtask-flower
    working_dir: /app
    entrypoint: celery -A vtask.celery.celery_app.app flower
    environment:
      FLOWER_UNAUTHENTICATED_API: "${FLOWER_UNAUTHENTICATED_API}"

      REDIS_HOST: "${REDIS_HOST}"
      REDIS_PORT: "${REDIS_PORT}"
      REDIS_PASSWORD: "${REDIS_PASSWORD}"
    ports:
      - "${FLOWER_PORT}:5555"
    volumes:
      - ../vtask:/app/vtask
