services:
  vtask-default:
    image: harbor.rwiv.xyz/private/vtask:0.2.6
    container_name: vtask-default
    working_dir: /app
    entrypoint: python -m vtask worker
    restart: always
    environment:
      PY_ENV: prod
      WORKER_NAME: default
      TMP_DIR_PATH: "/app/tmp"

      OUT_FS_NAME: "${OUT_FS_NAME}"
      FS_CONFIG_PATH: "/mnt/app_conf/fs_conf.yaml"
      STDL_BASE_DIR_PATH: "/mnt/stdl"
      STDL_IS_ARCHIVE: "${STDL_IS_ARCHIVE}"
      NETWORK_IO_DELAY_MS: "${NETWORK_IO_DELAY_MS}"
      NETWORK_BUF_SIZE: "${NETWORK_BUF_SIZE}"

      REDIS_HOST: "${REDIS_HOST}"
      REDIS_PORT: "${REDIS_PORT}"
      REDIS_PASSWORD: "${REDIS_PASSWORD}"
      CELERY_WORKER_CONCURRENCY: "${CELERY_DEFAULT_WORKER_CONCURRENCY}"
      CELERY_VISIBILITY_TIMEOUT_SEC: "${CELERY_VISIBILITY_TIMEOUT_SEC}"
    volumes:
      - "${TMP_DIR_PATH}:/app/tmp"
      - "${STDL_BASE_DIR_PATH}:/mnt/stdl"
      - "${FS_CONFIG_PATH}:/mnt/app_conf/fs_conf.yaml"
    labels:
      app: vtask
      host: ${HOSTNAME}
    logging:
      driver: json-file
      options:
        labels: app,host
        tag: "container_image={{.ImageName}},container_name={{.Name}}"
  vtask-io-lfs:
    image: harbor.rwiv.xyz/private/vtask:0.2.6
    container_name: vtask-io-lfs
    working_dir: /app
    entrypoint: python -m vtask worker
    restart: always
    environment:
      PY_ENV: prod
      WORKER_NAME: io.lfs
      TMP_DIR_PATH: "/app/tmp"

      OUT_FS_NAME: "${OUT_FS_NAME}"
      FS_CONFIG_PATH: "/mnt/app_conf/fs_conf.yaml"
      STDL_BASE_DIR_PATH: "/mnt/stdl"
      STDL_IS_ARCHIVE: "${STDL_IS_ARCHIVE}"
      NETWORK_IO_DELAY_MS: "${NETWORK_IO_DELAY_MS}"
      NETWORK_BUF_SIZE: "${NETWORK_BUF_SIZE}"

      REDIS_HOST: "${REDIS_HOST}"
      REDIS_PORT: "${REDIS_PORT}"
      REDIS_PASSWORD: "${REDIS_PASSWORD}"
      CELERY_WORKER_CONCURRENCY: "${CELERY_IO_LFS_WORKER_CONCURRENCY}"
      CELERY_VISIBILITY_TIMEOUT_SEC: "${CELERY_VISIBILITY_TIMEOUT_SEC}"
    volumes:
      - "${TMP_DIR_PATH}:/app/tmp"
      - "${STDL_BASE_DIR_PATH}:/mnt/stdl"
      - "${FS_CONFIG_PATH}:/mnt/app_conf/fs_conf.yaml"
    labels:
      app: vtask
      host: ${HOSTNAME}
    logging:
      driver: json-file
      options:
        labels: app,host
        tag: "container_image={{.ImageName}},container_name={{.Name}}"
  vtask-io-net:
    image: harbor.rwiv.xyz/private/vtask:0.2.6
    container_name: vtask-io-net
    working_dir: /app
    entrypoint: python -m vtask worker
    restart: always
    environment:
      PY_ENV: prod
      WORKER_NAME: io.net
      TMP_DIR_PATH: "/app/tmp"

      OUT_FS_NAME: "${OUT_FS_NAME}"
      FS_CONFIG_PATH: "/mnt/app_conf/fs_conf.yaml"
      STDL_BASE_DIR_PATH: "/mnt/stdl"
      STDL_IS_ARCHIVE: "${STDL_IS_ARCHIVE}"
      NETWORK_IO_DELAY_MS: "${NETWORK_IO_DELAY_MS}"
      NETWORK_BUF_SIZE: "${NETWORK_BUF_SIZE}"

      REDIS_HOST: "${REDIS_HOST}"
      REDIS_PORT: "${REDIS_PORT}"
      REDIS_PASSWORD: "${REDIS_PASSWORD}"
      CELERY_WORKER_CONCURRENCY: "${CELERY_IO_NET_WORKER_CONCURRENCY}"
      CELERY_VISIBILITY_TIMEOUT_SEC: "${CELERY_VISIBILITY_TIMEOUT_SEC}"
    volumes:
      - "${TMP_DIR_PATH}:/app/tmp"
      - "${STDL_BASE_DIR_PATH}:/mnt/stdl"
      - "${FS_CONFIG_PATH}:/mnt/app_conf/fs_conf.yaml"
    labels:
      app: vtask
      host: ${HOSTNAME}
    logging:
      driver: json-file
      options:
        labels: app,host
        tag: "container_image={{.ImageName}},container_name={{.Name}}"
