name: Build and Deploy
on:
  push:
    tags:
      - v**
env:
  APP_NAME: vtask
  IMAGE_PREFIX: private
  IMAGE_REGISTRY: harbor.rwiv.xyz
  IMAGE_DOCKERFILE_PATH: docker/Dockerfile
jobs:
  Set-Version:
    runs-on: ubuntu-latest
    outputs:
      APP_VERSION: ${{ steps.set_version.outputs.APP_VERSION }}
    steps:
      - name: Set APP_VERSION env from git tag
        id: set_version
        run: |
          TAG_VERSION=${GITHUB_REF##*/}
          APP_VERSION=${TAG_VERSION#v}
          echo "APP_VERSION=$APP_VERSION" >> $GITHUB_OUTPUT
  Docker-Build:
    runs-on: ubuntu-latest
    needs: Set-Version
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ env.IMAGE_DOCKERFILE_PATH }}
          push: true
          tags: ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_PREFIX }}/${{ env.APP_NAME }}:${{ needs.Set-Version.outputs.APP_VERSION }}
